.fondo {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 40px 0;
}

.cardCustom {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.avatar {
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
  margin-bottom: 20px;
}

.section h3 {
  font-size: 1.5rem;
  color: #333;
}

.text-center {
  text-align: center;
}

.buttonPrimary {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.buttonPrimary:hover {
  background-color: #0056b3;
}
